.darkMode {
	--borderShadowColorEffect: inset 0 0 0 1px hsla(0, 0%, 90%, 0.3);

	--background_A: #0c0c0c;
	--background_B: #1a1a1a;
	--background_C: #262626;
	--textColor_A: #e6e6e6;
	--textColor_B: #cccccc;
	--textColor_C: #b3b3b3;

	--githubBG: #0d1117;
	--githubLink: #428eef;

	--border: #808080;

	--primary_A: hsl(0, 0%, 15%);
	--primary_B: hsl(0, 0%, 10%);

	--success: #59a659;
	--warning: #bfbf40;
	--hazard: #b88114;
	--danger: #bf4040;
	--info: #4080bf;

	--alkali: #6c3b01;
	--alkaline: #846011;
	--transition: #711019;
	--poor: #003666;
	--lanthanoid: #402c17;
	--actinoid: #732e4c;
	--metalloid: #015146;
	--nonmetal: #3e6418;
	--halogen: #706f23;
	--noble: #3a2151;
	--unknown: #222;

	--s-block: #004c52;
	--p-block: #3b5800;
	--d-block: #5f003f;
	--f-block: #0023bb;

	--solid: #bebebe8c;
	--liquid: #1e90ff8c;
	--gas: #ff8c008c;
	--plasma: #ff00ff;
	--unknownState: #80808059;

	--electron: #4369b3;

	--radioactive: #00000080;
}

/**--------------------------------**/
.lightMode {
	--borderShadowColorEffect: inset 0 0 0 1px hsla(0, 0%, 10%, 0.3);

	--background_A: #d9d9d9;
	--background_B: #e6e6e6;
	--background_C: #f2f2f2;
	--textColor_A: #4d4d4d;
	--textColor_B: #333333;
	--textColor_C: #1a1a1a;

	--githubBG: #ffffff;
	--githubLink: #1772dc;

	--border: #808080;

	--primary_A: #666f99;
	--primary_B: #52587a;

	--success: #59a659;
	--warning: #bfbf40;
	--hazard: #ebb447;
	--danger: #bf4040;
	--info: #4080bf;

	--alkali: hsl(48, 77%, 80%);
	--alkaline: hsl(60, 83%, 80%);
	--transition: hsl(13, 87%, 80%);
	--poor: hsl(192deg, 62%, 80%);
	--lanthanoid: hsl(42deg, 62%, 80%);
	--actinoid: hsl(340deg, 67%, 80%);
	--metalloid: hsl(165deg, 58%, 80%);
	--nonmetal: hsl(120deg, 73%, 80%);
	--halogen: #d4d4ab;
	--noble: hsl(300deg, 44%, 80%);
	--unknown: hsl(0, 0%, 80%);

	--s-block: hsl(343, 100%, 80%);
	--p-block: hsl(159, 100%, 80%);
	--d-block: hsl(76, 87%, 80%);
	--f-block: hsl(225, 100%, 80%);

	--solid: #7777778c;
	--liquid: #1e47ff8c;
	--gas: #ff26008c;
	--plasma: #ff00aa;
	--unknownState: #EEE;

	--electron: #559fef;

	--radioactive: #ffffff80;
}

/**--------------------------------**/
.darkMode ::-webkit-scrollbar-track {
	background: #141414;
}

.darkMode ::-webkit-scrollbar-thumb {
	background: #2f3133;
}

/**--------------------------------**/
.lightMode ::-webkit-scrollbar-track {
	background: #bdc3c9;
}

.lightMode ::-webkit-scrollbar-thumb {
	background: #585b5e;
}