::-webkit-scrollbar {
	width: 0.5em;
}

:root {
	--hoverShadow: 0 0 10px var(--hoverColor);

	--borderShadowColorEffectHover: inset 0 0 0 2px #0099ff;

	--borderShadowColorEffectClick: inset 0 0 0 2px #ff4a4a;

	--transitionTime: 0.3s;
}

/**------------------------------------------------**/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	background-color: var(--background_A);
	color: var(--textColor_A);

	font-family: system-ui, -apple-system, "Segoe UI", sans-serif;

	transition: background var(--transitionTime);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

/**-----------------------------------------------**/
.linkText,
a {
	color: #5898bf;
	cursor: pointer;
	text-decoration: underline;
	transition: var(--transitionTime);
}

code {
	background: var(--background_C);
	border-radius: 3px;
	font-size: medium;
	padding: 3px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 16px;
	padding: 16px;
}

.grid>div {
	background: var(--background_C);
	padding: 16px;
	text-align: center;
	border-radius: 8px;
}

/**-----------------------------------------------**/
button {
	display: inline-block;
	background-color: var(--primary_A);
	border: none;
	color: white;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 4px;
	transition: var(--transitionTime);
	box-shadow: var(--borderShadowColorEffect);
}

button:disabled {
	color: gray;
	background-color: var(--primary_B);
}

input[type="text"],
input[type="number"] {
	background-color: transparent;
	color: var(--textColor_A);
	padding: 8px;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	transition: var(--transitionTime);
	box-shadow: var(--borderShadowColorEffect);
}

input[type="text"]:disabled,
input[type="number"]:disabled {
	color: gray;
	background-color: var(--primary_B);
}

input[type="range"] {
	appearance: none;
	-webkit-appearance: none;
	background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
	border-radius: 10px;
	background: linear-gradient(90deg,
			#000000 0%,
			#FF3800 14%,
			#FF6D00 28%,
			#FF9329 42%,
			#FFC58F 57%,
			#FFE4CE 71%,
			#FFF3FF 85%,
			#D4EBFF 100%);
	box-shadow: var(--borderShadowColorEffect);
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgb(63, 155, 132);
	border: 1px solid rgb(66, 80, 75)
}

/*Firefox*/
input[type="range"]::-moz-range-track {
	height: 16px;
	border-radius: 10px;
	background: linear-gradient(90deg,
			#000000 0%,
			#FF3800 14%,
			#FF6D00 28%,
			#FF9329 42%,
			#FFC58F 57%,
			#FFE4CE 71%,
			#FFF3FF 85%,
			#D4EBFF 100%);
	box-shadow: var(--borderShadowColorEffect);
}

input[type="range"]::-moz-range-thumb {
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgb(63, 155, 132);
	border: 1px solid rgb(66, 80, 75)
}

select,
::picker(select) {
	appearance: base-select;
	background: var(--primary_A);
	color: #ffffff;
	box-shadow: var(--borderShadowColorEffect);
	border: none;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 4px;
	transition: var(--transitionTime);
}

select:disabled {
	color: gray;
	background-color: var(--primary_B);
}

option {
	transition: var(--transitionTime);
}

option::checkmark {
	display: none;
}

option:checked {
	box-shadow: var(--borderShadowColorEffectClick);
}

select::picker-icon {
	transition: var(--transitionTime);
}

select:open::picker-icon {
	rotate: 180deg;
}

optgroup {
	background: #00000040;
}

/*Firefox*/
@-moz-document url-prefix() {
	select {
		all: unset;
		display: inline-block;
		color: #ffffff;
		background: var(--primary_A);
		box-shadow: var(--borderShadowColorEffect);
		border-radius: 4px;
		margin: 4px 2px;
		padding: 4px;
		font-size: 16px;
	}

	select:disabled {
		color: gray;
		background-color: #eee;
	}
}

/**---------------------------**/
.header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	justify-content: center;
	background: var(--background_C);
}

.vertical-line {
	width: 1px;
	height: 90%;
	background-color: gray;
	margin: 0 10px;
}

.elementStyle {
	line-height: 1;
	font-style: normal;
	font-weight: normal;
	width: 100%;
	height: 100%;
	padding: 2px;
	transition: var(--transitionTime);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	opacity: 1;
	color: var(--textColor_B);
	position: relative;
	overflow: hidden;
}

.elementStyle *,
#CloseUp * {
	pointer-events: none;
	user-select: none;
	z-index: 1;
}

.elementStyle b {
	font-size: 0.75em;
}

.elementStyle em {
	font-size: 0.75em;
	font-weight: 500;
	font-style: normal;
}

.elementStyle data {
	font-size: 0.75em;
	font-weight: 400;
	font-style: normal;
}

.elementStyle abbr {
	font-size: 1.2em;
	font-weight: 600;
}

/**--------------------**/
#CloseUp {
	line-height: 1;
	font-style: normal;
	font-weight: normal;
	padding: 2px;
	transition: var(--transitionTime);
	width: 80px;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: var(--borderShadowColorEffect);
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	background: var(--nonmetal);
}

#CloseUp output {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1;
	min-width: 0;
}

#CloseUp b {
	font-size: 1em;
}

#CloseUp abbr {
	font-size: 1.8em;
	font-weight: 600;
}

#CloseUp em {
	font-size: .8em;
	font-weight: 500;
	font-style: normal;
}

#CloseUp data {
	font-size: .8em;
	font-weight: 400;
	font-style: normal;
}

/**-----------------------------------------------**/
.article {
	width: 80%;
}

.projectTemp {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"title cont links"
		"desc  cont links";
	gap: 3px;
	padding: 5px;
	width: 100%;
	min-height: 100px;
	max-height: 400px;
	background: var(--background_B);
	margin: 5px;
	margin-bottom: 10px;
}


.proj-title {
	grid-area: title;
	margin: 5px;
}

.proj-links {
	grid-area: links;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.proj-cont {
	grid-area: cont;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.proj-thumb {
	height: 200px;
	margin: 3px;
	border-radius: 5px;
}

.proj-desc p {
	margin: 0;
}

@media (max-width: 1000px) {
	.projectTemp {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"title links"
			"desc  desc"
			"cont  cont";
	}

	.proj-desc {
		width: 100%;
		min-width: 0;
		grid-column: 1 / -1;
	}
}

/**-----------------------------------------------**/

.githubProfile {
	display: flex;
	align-items: center;
	background: var(--githubBG);
	box-shadow: var(--borderShadowColorEffect);
	border-radius: 4px;
	padding: 3px;
	color: var(--githubLink);
	text-decoration: none;
	font-weight: 500;
	margin: 4px 2px;
}

.githubProfile:hover {
	color: var(--githubLink);
	text-decoration: underline;
}

.githubProfile img {
	width: 20px;
	border-radius: 100%;
}

/**-----------------------------------------------**/

.hoverEffect:hover {
	box-shadow: var(--hoverShadow);
}

.linkText:hover,
a:hover {
	color: #9d58bf;
}

button:hover,
select:hover {
	background-color: var(--primary_B);
}

input[type="text"]:not(:disabled):hover,
input[type="number"]:not(:disabled):hover {
	box-shadow: var(--borderShadowColorEffectHover);
}

/**-----------------**/
option:hover {
	box-shadow: var(--borderShadowColorEffectHover);
}

/**-----------------**/
.elementStyle:not(.empty):hover,
#CloseUp:hover {
	box-shadow: var(--borderShadowColorEffectHover);
}

.elementStyle:not(.empty):active,
#CloseUp:active {
	box-shadow: var(--borderShadowColorEffectClick);
}

:target {
	position: relative;
	animation: highlight 3s ease;
}

:target::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(255, 255, 0, 0.15);
	pointer-events: none;
	animation: fadeOverlay 4s ease forwards;
}

@keyframes fadeOverlay {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes highlight {
	0%, 100% {
		box-shadow: inset 0 0 0 0 transparent;
	}

	15%, 35%, 55%, 75% {
		box-shadow: inset 0 0 0 5px rgb(255, 255, 0);
	}

	25%, 45%, 65% {
		box-shadow: inset 0 0 0 5px rgb(183, 0, 255);
	}
}
